* {
    padding: 0px;
    margin: 0px;
}

.absolute{
    width: 100%;
    height: 100vh;
    background-image: url("images/body.jpg");
    background-repeat: no-repeat;
    position: fixed;
    z-index: -99;
}

/* navbar section */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.rightnav {
    width: 84%;
    display: flex;
}

.navlogo {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logo {
    max-width: 110px;
    min-width: 80px;
}

.navlist ul {
    display: flex;
    list-style: none;
}

.navlist ul li {
    padding: 0px 20px;
}

.navlist ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navlist ul li a:hover {
    color: red;
    transition: 0.5s;
}

.navlist ul li .home {
    color: red;
}

.leftnav {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftnav button {
    color: white;
    background-color: red;
    padding: 9px 45px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.bar {
    display: none;
}

/* navbar section */
/* Carousel */

.boxx {
    height: 410px;
    background-color: #222222;
    display: flex;
    align-items: center;
    border-top: 1px solid #ed1c24;
    border-bottom: 1px solid #ed1c24;
}


/* Carousel */

/* section-1 */
.sec-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    /* background-color: #222222; */
}

.welcome,
.brand {
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    letter-spacing: 10px;
    margin: 0px auto;
}

.imgdiv {
    text-align: center;
}

.img1 {
    width: 20%;
}

.resturant {
    font-size: 19px;
    color: gray;
    letter-spacing: 20px;
    text-align: center;
}

.bdiv {
    width: 100%;
    padding-top: 70px;
    text-align: center;
}

.brand {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clk {
    color: gray;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dd {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: #f0ffff;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

.d {
    max-width: 240px;
    min-width: 100px;
    overflow: hidden;
}

.d:hover {
    max-width: 280px;
    cursor: pointer;
    transition: 0.5s;
}

.d1d {
    background-color: azure;
}


/* section1 */

/* section2 */
.sec2-container {
    background: rgb(44,44,44);
    background: linear-gradient(90deg, rgba(44,44,44,1) 0%, rgba(67,67,67,1) 49%, rgba(44,44,44,1) 100%); 
    padding: 50px 0px;
    border-top: 2px solid red;
    border-bottom: 1px solid #818181;
}

.sec2dv {
    text-align: center;
}

.sec21 {
    width: 20%;
}

.sec22 {
    width: 30%;
}

.sec2res {
    padding-top: 0px;
}

.sec22dv {
    padding: 20px;
}

.res {
    font-size: 50px;
    color: red;
    margin: 0px 0px;
}

.rp {
    color: white;
}

.s2b {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
    opacity: 100%;
    padding: 75px 15px;
    border: 3px solid white;
    border-radius: 5px;
    height: 260px;
    background-color: white;
}

.btdv {
    text-align: center;
    margin-top: 20px;
}

.bt {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px #222222;
}

.btp {
    color: white;
    text-shadow: 1px 1px #222222;
}

.s2b1 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Restaurant-Islamabad-Franchise.jpg");
}

.s2b2 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Restaurant-Faisalabad-Franchise.jpg");
}

.s2b3 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Restaurant-Bahawalpur-Franchise.jpg");
}

/* section2 */
/* section3 */
.sec3-container {
    width: 100%;
    background: rgb(44,44,44);
    background: linear-gradient(90deg, rgba(44,44,44,1) 0%, rgba(67,67,67,1) 49%, rgba(44,44,44,1) 100%); 
    padding: 50px 0px;
}

.salt {
    letter-spacing: normal;
}

.line {
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 18%;
    margin: 17px auto;
}

.s3b {
    height: 300px;
    opacity: 90%;
}

.s3b1 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Express-Motorway-Bhera.jpg");
}

.s3b2 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Express-Packages-Mall.jpg");
}

.s3b3 {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2021/11/Salt-n-Pepper-Express-Emporium-Mall.jpg");
}

/* section3 */
/* section4 */
.sec4-container {
    padding: 50px 0px;
    background: rgb(44,44,44);
    background: linear-gradient(90deg, rgba(44,44,44,1) 0%, rgba(67,67,67,1) 49%, rgba(44,44,44,1) 100%); 
}

.s4b {
    background-image: url("https://www.saltnpepper.com.pk/wp-content/uploads/2022/06/02-1.jpg");
    width: 98%;
    margin: 30px 0px;
}

.s4idiv {
    color: white;
    text-shadow: 1px 1px black;

}

/* section4 */
/* section5 */
.sec5-container {
    padding: 50px 0px;
    background: rgb(44,44,44);
    background: linear-gradient(90deg, rgba(44,44,44,1) 0%, rgba(67,67,67,1) 49%, rgba(44,44,44,1) 100%); 
    border-bottom: 2px solid red;
}

.soon {
    margin-top: -45px;
    letter-spacing: 6px;
    color: #bebebe;
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.sec5-box {
    width: 100%;
    justify-content: center;
    display: flex;
}

.sb {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 2px solid red;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-right {
    width: 43%;
    padding: 0px 10px;
}

.b-left {
    width: 43%;
    padding: 0px 10px;
}

.micon {
    width: 70px;
}

.idiv {
    text-align: center;
}

/* section5 */
/* footer */
.ftr-container {
    padding-top: 50px;
    background-color: #222222;
    width: 100%;
}

.ftrbox {
    display: flex;
    justify-content: center;
}

.ftb1 {
    width: 25%;
}

.mft {
    width: 33.3%;
}

.mediafooter {
    display: flex;
    width: 75%;
}

.ftb {
    width: 34%;
    height: 332px;
    padding: 15px;
}

.ftrlogo {
    width: 126px;
    margin-bottom: 20px;
}

.ftrp {
    color: grey;
    text-align: justify;
}

.fh2 {
    font-size: 23px;
    color: white;
    margin: 0px 0px;
    letter-spacing: normal;
}

.fline {
    margin: 5px 0px;
    background-color: red;
    width: 68%;
}

.flink {
    color: gray;
    text-decoration: none;
    line-height: 30px;
}

.flink:hover {
    color: red;
}

li {
    list-style: none;
}

.ap {
    padding-left: 10px;
}

.gp {}

.gplay {
    width: 160px;
}

.apple {
    width: 140px;
}

@media screen and (max-width: 1150px) {
    .boxx {
        height: auto;
    }

    .ftrbox {
        flex-direction: column;
    }

    .mft {
        width: 33%;
    }

    .mftb,
    .ftrp {
        width: 100%;
        text-align: center;
    }

    .mediafooter {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .fline {
        width: 40%;
        margin: 5px auto;
    }

    .ap {
        margin-right: 10px;
    }
}

@media screen and (max-width:980px) {
    .logo {
        width: 80px;
    }

    .navlist ul li a {
        font-size: 15px;
    }

    .leftnav button {
        padding: 8px 20px;
        font-size: 11px;
    }

}

@media screen and (max-width:610px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .rightnav {
        width: 100%;
    }

    .leftnav button {
        padding: 4px 20px;
    }
}

@media screen and (max-width:810px) {
    .navlist {
        display: none;
    }

    .divbar {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;

    }

    .bar {
        width: 10%;
        background-color: rgba(0, 0, 255, 0);
        border: none;
        display: flex;
    }

    .bicon {
        width: 50px;
    }

    .welcome {
        text-align: center;
        font-size: 63px;
    }

    .brand {
        font-size: 30px;
    }

    .box {
        flex-direction: column;
        align-items: center;
    }

    .dd {
        width: 50%;
    }

    .s2b {
        width: 50% !important;
    }

    .s4b {
        width: 90% !important;
    }

    .res {
        font-size: 40px !important;
    }

    /* footer */
    .mediafooter {
        flex-direction: column;
        align-items: center;
    }

    .mft {
        width: 100%;
    }

    .fline {
        width: 16%;
        margin: 5px auto;
    }

    .fp {
        padding-top: 20px;
    }

    .ap {
        margin-right: 10px;
    }
}

@media screen and (max-width:440px) {
    .welcome {
        font-size: 48px !important;
    }

    .brand {
        font-size: 24px !important;
    }

    .dd {
        width: 90% !important;
        height: 145px !important;
    }

    .res {
        font-size: 30px !important;
    }

    .sec5-box {
        flex-direction: column;
        align-items: center;
    }

    .sb {
        width: 90%;
        height: 145px !important;
    }

    .b-right,
    .b-left {
        width: 90% !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}